@tailwind base;
@tailwind components;
@tailwind utilities;

@import "leaflet/dist/leaflet.css";

.leaflet-popup-content-wrapper {
  border-radius: 1rem !important;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  transition: all 0.3s ease;
}

.leaflet-popup-tip {
  background: white;
}
